<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criptografia FRONT/API</title>
  </head>
  <body ng-app="App" ng-controller="Ctrl">
    
      enviando dados via POST
      <textarea ng-model="messagePost" cols="50" rows="5"></textarea>

      <button type="button" ng-click="sendPOST()">Enviar via GET</button><br>

      <p>mensagem recuperada do servidor após ser descriptografada:</p>
      <textarea readonly cols="50" rows="5">{{ respostaPost }}</textarea>
      <hr>
      enviando dados via GET
      <textarea ng-model="messageGet" cols="50" rows="5"></textarea>

      <button type="button" ng-click="sendGET()">Enviar via GET</button><br>

      <p>mensagem recuperada do servidor após ser descriptografada:</p>
      <textarea readonly cols="50" rows="5">{{ respostaGet }}</textarea>
  
    <script src="node_modules/angular/angular.min.js"></script>

    <!-- utilizada na encriptação com a chave RSA publica -->
    <script src="node_modules/jsencrypt/bin/jsencrypt.min.js"></script>

    <!-- utilizadas na encriptação com a chave AES -->
    <script src="node_modules/crypto-js/crypto-js.js"></script>
    <script src="node_modules/crypto-js/pbkdf2.js"></script>

    <!-- service que intercepta o request e response, encripta e decripta -->
    <script src="app.module.js"></script>
    <script src="app.controller.js"></script>

    <!-- services -->
    <script src="services/cryptService.js"></script>
    <script src="services/messageService.js"></script>
    <script src="services/publicKeyService.js"></script>   

    <!-- config -->
    <script src="app.config.js"></script>
    
  </body>
</html>